# Handle Duplicate Data

In [1]:
import pandas as pd

In [3]:
data = {"name":["a","b","c","d","a","c"],"eng":[8,7,5,8,8,5], "hindi":[2,3,4,5,2,6]}
df = pd.DataFrame(data)
df

  name  eng  hindi
0    a    8      2
1    b    7      3
2    c    5      4
3    d    8      5
4    a    8      2
5    c    5      6

In [5]:
df["duplicated"] = df.duplicated()

In [12]:
df

  name  eng  hindi
0    a    8      2
1    b    7      3
2    c    5      4
3    d    8      5
4    a    8      2
5    c    5      6

In [11]:
df.drop(columns = ["duplicated"],inplace=True)

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
dataset = pd.read_csv("loan.csv")
datset.head(5)

In [17]:
dataset.shape

(614, 13)

In [18]:
dataset.drop_duplicates(inplace=True)

In [19]:
dataset.shape

(614, 13)