# Train Test split in data set

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("synthetic_boston_housing_data.csv")
dataset.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.39794,81,28.61,0,0.43,5.12,49.0,2.8437,15,439.2,27.2,303.61,29.49,11.1
1,0.62797,29,2.53,0,0.40,6.87,77.9,1.7624,2,152.2,19.2,22.95,17.94,10.4
2,0.46161,70,28.53,1,0.44,4.43,73.6,2.7301,6,487.3,25.8,235.16,19.33,27.6
3,0.39360,28,1.05,0,0.52,4.42,39.1,3.0472,18,336.8,28.2,381.62,9.16,23.5
4,0.27552,74,16.17,0,0.68,4.95,10.1,6.3102,8,587.8,21.4,393.75,29.82,12.8