Join

In [4]:
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,5],"B":[11,12,13,14]},index=["a","b","c","d"])
var2 = pd.DataFrame({"c":[30,40], "D":[23,24]},index=["a","b"])
var1.join(var2)
var1.join(var2, how="right")
var1.join(var2,how="inner") #it will show only common in both

   A   B   c   D
a  1  11  30  23
b  2  12  40  24

In [8]:
var1 = pd.DataFrame({"A":[1,2,3,5],"B":[11,12,13,14]},index=["a","b","c","d"])
var2 = pd.DataFrame({"c":[30,40], "B":[23,24]},index=["a","b"])
var1.join(var2,how="outer",lsuffix="_12",rsuffix="_23")

   A  B_12     c  B_23
a  1    11  30.0  23.0
b  2    12  40.0  24.0
c  3    13   NaN   NaN
d  5    14   NaN   NaN

Append

In [13]:
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,5],"B":[11,12,13,14]})
var2 = pd.DataFrame({"c":[30,40], "D":[23,24]})
var2.append(var1,ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'