Merge

In [17]:
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,5],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,4], "C":[21,22,23,24]})
#pd.merge(var1,var2)
# pd.merge(var1,var2,on="A")
#pd.merge(var1,var2,how="right")
pd.merge(var1,var2,how="outer",indicator=True)

   A     B     C      _merge
0  1  11.0  21.0        both
1  2  12.0  22.0        both
2  3  13.0  23.0        both
3  4   NaN  24.0  right_only
4  5  14.0   NaN   left_only

In [27]:
var1 = pd.DataFrame({"A":[1,2,3,5],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,4], "C":[21,22,23,24]})
pd.merge(var1,var2,right_index=True, left_index=True,suffixes=("name","Id"))
pd.concat([var1,var2],axis=1)

   A   B  A   C
0  1  11  1  21
1  2  12  2  22
2  3  13  3  23
3  5  14  4  24

Concat

In [21]:
sr1 = pd.Series([1,2,3,4])
sr2 = pd.Series([11,12,13,14])
pd.concat([sr1,sr2])

0     1
1     2
2     3
3     4
0    11
1    12
2    13
3    14
dtype: int64

In [39]:
d1 = pd.DataFrame({"A":[1,2,3,5],"B":[11,12,13,14]})
d2 = pd.DataFrame({"A":[6,7], "B":[21,23]})

# pd.concat([d1,d2],axis=1,join="inner")
pd.concat([d1,d2],axis=0,keys=["d1","d2"])

      A   B
d1 0  1  11
   1  2  12
   2  3  13
   3  5  14
d2 0  6  21
   1  7  23

In [42]:
d1 = pd.DataFrame({"A":[1,2,3,5]})
d2 = pd.DataFrame({"B":[11,12,13,14], "C":[21,23,24,25]})

pd.concat([d1,d2])

     A     B     C
0  1.0   NaN   NaN
1  2.0   NaN   NaN
2  3.0   NaN   NaN
3  5.0   NaN   NaN
0  NaN  11.0  21.0
1  NaN  12.0  23.0
2  NaN  13.0  24.0
3  NaN  14.0  25.0